.container {
    display: flex;
    height: 100vh;
    gap: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.box-1 {
    width: 140px;
    height: 140px;
    background-color: skyblue;
    border: 2px solid black;
    font-size: 65px;
    flex-grow: 1;
}

.box-2 {
    width: 140px;
    height: 140px;
    background-color: orange;
    border: 2px solid black;
    font-size: 65px;
    flex-grow: 5;
}

.box-3 {
    width: 140px;
    height: 140px;
    background-color: purple;
    border: 2px solid black;
    font-size: 65px;
    flex-grow: 1;
}
